@import "../styles/styles.css";

h1 {
    color: var(--primary-color);
    font-weight: 400;
}

.custom-grid {
    border: none;
    box-shadow: none;
}

.custom-grid a {
    color: var(--primary-color);
    text-decoration: underline;
}