:root {
    --primary-color: #8424ac;
}

.primary-color {
    color: var(--primary-color);
}

.secondary-button {
    border: solid rgb(128, 128, 128);
    color: rgb(128, 128, 128);
    background-color: white;
    width: 100%;
}

h1 {
    color: var(--primary-color);
    font-weight: 400;
}